@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HeeboRegular';
    src: url('/Fonts/HeeboRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('/Fonts/Nunito.ttf') format('truetype');
  }


